<style>
    .center-toggle-group {
        display: flex;
        justify-content: center;
        align-items: center;
        height: max-content;
    }
</style>
<div class="center-toggle-group">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" (change)="onToggleChange($event)" value="check-out">Check Out</mat-button-toggle>
        <mat-button-toggle value="italic" (change)="onToggleChange($event)" value="check-in">Check In</mat-button-toggle>
    </mat-button-toggle-group>
</div>