<mat-card appearance="outlined">
    <mat-card-header>
        <div style="text-align: center; width: 100%;">
            <mat-card-title>Confirm Check In</mat-card-title>
        </div>

    </mat-card-header>
    <mat-card-content>
        <p>You are checking in <strong>{{ boatName }}</strong>.</p>

        <p>I confirm that: </p>
        <div class="checkbox-row">
            <mat-checkbox class="center-toggle-group" style="font-size: 0.9em;" [(ngModel)]="iAmTheUser">
                I am <strong>{{ userName }}</strong>.
            </mat-checkbox>
            <span style="font-size: 0.9em;">&nbsp;(If not: you will be taken to a page to identify yourself.)</span>
        </div>
        <div class="checkbox-row">
            <mat-checkbox class="center-toggle-group" style="font-size: 0.9em;" [(ngModel)]="returnedKey">
                I have returned the key.
            </mat-checkbox>
        </div>
        <div class="checkbox-row">
            <mat-checkbox class="center-toggle-group" style="font-size: 0.9em;" [(ngModel)]="refueledBoat">
                I have refueled the boat.
            </mat-checkbox>
        </div>
        <p>Were there any problems with the boat?</p>
        <div class="checkbox-row">
<mat-radio-group aria-label="Select an option" >
  <mat-radio-button value="Yes" [(ngModel)]="problemsWithBoat" (change)="onProblemsChange($event)">Yes</mat-radio-button>
  <mat-radio-button value="No" [(ngModel)]="problemsWithBoat" (change)="onProblemsChange($event)">No</mat-radio-button>
</mat-radio-group>
        </div>
    </mat-card-content>

</mat-card>